<div>
  <mat-toolbar class="topbar telative mat-toolbar mat-primary mat-toolbar-single-row" color="primary" style="flex-direction: row; box-sizing: border-box; display: flex">
    <div>ระบบจัดการสนามกีฬา</div>
    <button class="bt" mat-stroked-button>Button A</button>
    <button mat-stroked-button>Button B</button>
    <button mat-stroked-button>Button C</button>
  </mat-toolbar>
</div>

<p>admin id: {{data.id}}</p>
<p>admin name: {{data.name}}</p>
<p>admin username: {{data.username}}</p>
<p>admin password: {{data.password}}</p>

<div><button mat-raised-button routerLink="/empreg" color="primary" (click)="register()">สมัครพนักงาน</button></div>
<br>
<div><button mat-raised-button routerLink="/empinfo" color="primary">ข้อมูลพนักงาน</button></div>
<br>
<div><button mat-raised-button routerLink="/empmanage" color="primary">จัดตารางงานพนักงาน</button></div>
