<mat-sidenav-container class="sidenav-container container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)">
  <mat-toolbar>ระบบจัดการสนามกีฬา</mat-toolbar>
  <mat-nav-list>
    <mat-list-item>
      <diV><i class="material-icons">how_to_reg</i>&nbsp;&nbsp;ID:&nbsp;{{adminId}}&nbsp;NAME:&nbsp;{{adminName}}</diV>
    </mat-list-item>
    <mat-accordion multi="true" displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
          <mat-panel-title><i class="material-icons">grade</i>ตั๋ว</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/ticket"><i class="material-icons">chevron_right</i>ขายตั๋ว</a>
        </mat-nav-list>
      </mat-expansion-panel>  
    </mat-accordion>
    <mat-accordion >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">account_circle</i> สมาชิก</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/member-register"><i class="material-icons">chevron_right</i>สมัครสมาชิก</a>
          <a mat-list-item routerLink="/member-show"><i class="material-icons">chevron_right</i>ข้อมูลสมาชิก</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">assignment_ind</i>พนักงาน</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/empreg"><i class="material-icons">chevron_right</i>สมัครพนักงาน</a>
          <a mat-list-item routerLink="/empinfo"><i class="material-icons">chevron_right</i>ข้อมูลพนักงาน</a>
          <a mat-list-item routerLink="/training-create"><i class="material-icons">chevron_right</i>สร้างหลักสูตรการอบรม</a>
          <a mat-list-item routerLink="/training-view"><i class="material-icons">chevron_right</i>ข้อมูลหลักสูตรการอบรม</a>
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><i class="material-icons">event</i>จัดตารางงานพนักงาน</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/emp-manage-clean"><i class="material-icons">chevron_right</i>พนักงานทำความสะอาด</a>
              <a mat-list-item routerLink="/emp-manage-guard"><i class="material-icons">chevron_right</i>พนักงานรักษาความปลอดภัย</a>
              <a mat-list-item routerLink="/emp-manage-train"><i class="material-icons">chevron_right</i>เทรนเนอร์</a>
            </mat-nav-list>
          </mat-expansion-panel> -->
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">book</i>คอร์สเรียน</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>สร้างคอร์สเรียน</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>ข้อมูลคอร์สเรียน</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>จองคอร์สเรียน</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">weekend</i>ห้องพักนักกีฬา</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/roomcreate"><i class="material-icons">chevron_right</i>จองห้องพัก</a>
          <a mat-list-item routerLink="/roomview"><i class="material-icons">chevron_right</i>ยกเลิกการจองห้องพัก</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">fitness_center</i>อุปกรณ์</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/lease" ><i class="material-icons">chevron_right</i>เช่าอุปกรณ์</a>
          <a mat-list-item routerLink="/leaseshow"><i class="material-icons">chevron_right</i>ข้อมูลการเช่าอุปกรณ์</a>
          <a mat-list-item routerLink="/notification" ><i class="material-icons">chevron_right</i>เแจ้งซ่อมอุปกรณ์</a>
          <a mat-list-item routerLink="/notification-show" ><i class="material-icons">chevron_right</i>ข้อมูลการแจ้งซ่อมอุปกรณ์</a>

        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">map</i>สนาม</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/field-order"><i class="material-icons">chevron_right</i>จองสนาม</a>
          <a mat-list-item routerLink="/field-view"><i class="material-icons">chevron_right</i>ข้อมูลการจองสนาม</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">local_offer</i>ล็อกเกอร์</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/locker-order"><i class="material-icons">chevron_right</i>จองล็อกเกอร์</a>
          <a mat-list-item routerLink="/locker-view"><i class="material-icons">chevron_right</i>ข้อมูลการจองล็อกเกอร์</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><button mat-button style="font-size:26px" routerLink="/nav">ระบบจัดการสนามกีฬา</button></span>
      <span class="example-spacer"></span>
      <a mat-stroked-button routerLink="/login" style="font-family:Arial, Helvetica, sans-serif">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- ------------------------------------------------------------------------------------------------------ -->

  <mat-card class="example-card" >
    <h1>สมัครงาน</h1>
    <mat-card-content style="text-align:left">
      <label>เลขประจำตัวประชาชน: </label>
      <br>
      <mat-form-field appearance="outline">
        <input placeholder="เลขประจำตัวประชาชน" matInput #input maxlength="13" [(ngModel)]="id" name="id">
      </mat-form-field>
      <br>
      <label>ตำนำหน้า: </label>
      <br>
      <!-- <mat-form-field appearance="outline">
        <mat-select placeholder="ตำนำหน้า" [(ngModel)]="select.titleSelect" name="title">
          <mat-option *ngFor="let title of titles" [value]="title.titleId">{{title.titleType}}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <div style="margin:2%">
        <mat-radio-group class="example-radio-group" [(ngModel)]="select.titleSelect">
          <mat-radio-button class="example-radio-button" *ngFor="let title of titles" [value]="title.titleId">
            {{title.titleType}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <label>ชื่อ - นามสกุล: </label>
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>นามสกุล: </label> -->
      <br>
      <mat-form-field appearance="outline" class="input-firstname">
        <input matInput placeholder="ชื่อ" [(ngModel)]="firstName" name="firstname">
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <mat-form-field appearance="outline" class="input-lastname">
        <input matInput placeholder="นามสกุล" [(ngModel)]="lastName" name="lastname">
      </mat-form-field>
      <br>
      <label>วันเกิด: </label>
      <br>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="วันเกิด" [(ngModel)]="birthDate" name="date">
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <label>หมายเลขโทรศัพท์: </label>
      <br>
      <mat-form-field appearance="outline">
        <input matInput placeholder="หมายเลขโทรศัพท์" [(ngModel)]="phone" name="phone">
      </mat-form-field>
      <br>
      <label>E-mail: </label>
      <br>
      <mat-form-field appearance="outline">
        <input matInput placeholder="E-mail" [(ngModel)]="email" name="email">
      </mat-form-field>
      <br>
      <label>ที่อยู่: </label>
      <br>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="ที่อยู่" [(ngModel)]="address" name="address"></textarea>
      </mat-form-field>
      <br>
      <label>วุฒิการศึกษา: </label>
      <br>
      <mat-form-field appearance="outline">
        <mat-select placeholder="วุฒิการศึกษา"[(ngModel)]="select.degreeSelect" name="degree">
          <mat-option *ngFor="let degree of degrees" [value]="degree.degreeId">{{degree.degreeType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <label>ตำแหน่ง: </label>
      <br>
      <mat-form-field appearance="outline">
        <mat-select placeholder="ตำแหน่ง" [(ngModel)]="select.positionSelect" name="position">
          <mat-option *ngFor="let position of positions" [value]="position.positionId">{{position.positionType}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions style="text-align:right">
      <a mat-raised-button (click)="save()" color="primary" type="submit">บันทึก</a>
      <a mat-raised-button  routerLink="/nav" color="primary" type="submit">ยกเลิก</a>
    </mat-card-actions>
  </mat-card>
  
  </mat-sidenav-content>
</mat-sidenav-container>