<mat-card class="example-card" >
  <mat-card-content style="text-align:center">
    <mat-form-field>
      <input matInput placeholder="Username" type="text" id="username" [(ngModel)]="admin.username" [(ngModel)]="data.username" >
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" id="password" [(ngModel)]="admin.password" [(ngModel)]="data.password" (blur)="getAdminDetail()">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions style="text-align:right">
    <a mat-raised-button (click)="login()" (keyup.enter)="login()" color="primary" type="submit" >Login</a>
  </mat-card-actions>
</mat-card>
