.example-header-image {
  /* background-image: url('src/image/route3.png'); */
  background-size: cover;
}

.example-card {
    /* max-width: 300px; */
    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color:warn;
}

  a {
    margin: 2px;
  }
  
  .example-radio-group {
    /* display: inline-flex; */
    flex-direction: column;
  }
  
  .example-radio-button {
    margin-right: 50px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }