<mat-sidenav-container class="sidenav-container container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>ระบบจัดการสนามกีฬา</mat-toolbar>
      <mat-nav-list>
        <mat-list-item>
          <diV>
            User Profile
          </diV>
        </mat-list-item>
        <mat-accordion multi="true" displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
          <mat-panel-title><i class="material-icons">grade</i>ตั๋ว</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>ขายตั๋ว</a>
        </mat-nav-list>
      </mat-expansion-panel>
      
    </mat-accordion>
    <mat-accordion >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">account_circle</i> สมาชิก</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>สมัครสมาชิก</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>ข้อมูลสมาชิก</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">assignment_ind</i>พนักงาน</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/empreg"><i class="material-icons">chevron_right</i>สมัครพนักงาน</a>
          <a mat-list-item routerLink="/empinfo"><i class="material-icons">chevron_right</i>ข้อมูลพนักงาน</a>
          <a mat-list-item routerLink="/empmanage"><i class="material-icons">chevron_right</i>จัดตารางงานพนักงาน</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">book</i>คอร์สเรียน</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>สร้างคอร์สเรียน</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>ข้อมูลคอร์สเรียน</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>จองคอร์สเรียน</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">weekend</i>ห้องพักนักกีฬา</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>จองห้องพัก</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>ยกเลิกการจองห้องพัก</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">fitness_center</i>อุปกรณ์</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>เช่าอุปกรณ์</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>แจ้งซ่อมอุปกรณ์</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">map</i>สนาม</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/field-order"><i class="material-icons">chevron_right</i>จองสนาม</a>
          <a mat-list-item routerLink="/field-view"><i class="material-icons">chevron_right</i>ข้อมูลการจองสนาม</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons">local_offer</i>ล็อกเกอร์</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item ><i class="material-icons">chevron_right</i>จองล็อกเกอร์</a>
          <a mat-list-item ><i class="material-icons">chevron_right</i>ข้อมูลการจองล็อกเกอร์</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
      </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>ระบบจัดการสนามกีฬา</span>
          <span class="example-spacer"></span>
          <a mat-stroked-button routerLink="/login" style="font-family:Arial, Helvetica, sans-serif">Logout</a>
        </mat-toolbar-row>
      </mat-toolbar>
    

      <mat-card style="align-content: center">
        <h1>จองสนาม</h1>

        <table mat-table [dataSource]="orders" class="mat-elevation-z8" style="align:center">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element ; let i = index">{{i+1}}</td>
          </ng-container>
        
          <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef> AdminName </th>
            <td mat-cell *matCellDef="let element"> {{element.admin.name}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="member" >
            <th mat-header-cell *matHeaderCellDef> MemberName </th>
            <td mat-cell *matCellDef="let element"> <pre>{{element.member.name}}</pre> </td>
          </ng-container>
        
          <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef> Field </th>
            <td mat-cell *matCellDef="let element"> {{element.field.fieldName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let element"> {{element.fieldDuration.fieldDuration}} </td>
          </ng-container>
        
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef style = "width:5%"> Edit.</th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button  (click)="manageTeam(element)">Edit</button> </td>
          </ng-container>
        
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef style = "width:5px"> Delete.</th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="viewConvenienceOrder(element)">Delete</button> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
        </table>
        
      </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>