.example-header-image {
  /* background-image: url('src/image/route3.png'); */
  background-size: cover;
}
.example-card {
  /* max-width: 300px; */
  width:500px;
  margin-left: auto;
  margin-right: auto;
  background-color:warn;
}

a {
  margin: 2px;
}
mat-form-field {
  width: 100%;
  /* background-color: brown; */
}
.input-firstname {
  width: 48%;
}
.input-lastname {
  width: 48%
}
label{
  width:100px;
  /* background-color: aqua; */
}
h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.example-radio-group {
  /* display: inline-flex; */
  flex-direction: column;
}

.example-radio-button {
  margin-right: 50px;
}

.example-selected-value {
  margin: 15px 0;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}